<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="./CSS/seat.css">
  
  <body>

    <table class="room">
      <!-- Row1 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="unsit"></td>
              <td class="unsit"></td>
              <td class="sit" id="s8">1311</td>
              <td class="sit" id="s7"></td>
            </tr>
            <tr>
              <td class="unsit"></td>
              <td class="unsit"></td>
              <td class="sit" id="s16"></td>
              <td class="sit" id="s15"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s6"></td>
              <td class="sit" id="s5"></td>
              <td class="sit" id="s4"></td>
              <td class="sit" id="s3"></td>
            </tr>
            <tr>
              <td class="sit" id="s14"></td>
              <td class="sit" id="s13"></td>
              <td class="sit" id="s12"></td>
              <td class="sit" id="s11"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s2"></td>
              <td class="sit" id="s1"></td>
            </tr>
            <tr>
              <td class="sit" id="s10"></td>
              <td class="sit" id="s9"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row2 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="unsit"></td>
              <td class="unsit"></td>
              <td class="sit" id="s24"></td>
              <td class="sit" id="s23"></td>
            </tr>
            <tr>
              <td class="unsit"></td>
              <td class="unsit"></td>
              <td class="sit" id="s32"></td>
              <td class="sit" id="s31"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s22"></td>
              <td class="sit" id="s21"></td>
              <td class="sit" id="s20"></td>
              <td class="sit" id="s19"></td>
            </tr>
            <tr>
              <td class="sit" id="s30"></td>
              <td class="sit" id="s29"></td>
              <td class="sit" id="s28"></td>
              <td class="sit" id="s27"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s18"></td>
              <td class="sit" id="s17"></td>
            </tr>
            <tr>
              <td class="sit" id="s26"></td>
              <td class="sit" id="s25"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row3 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s42"></td>
              <td class="sit" id="s41"></td>
              <td class="sit" id="s40"></td>
              <td class="sit" id="s39"></td>
            </tr>
            <tr>
              <td class="sit" id="s52"></td>
              <td class="sit" id="s51"></td>
              <td class="sit" id="s50"></td>
              <td class="sit" id="s49"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s38"></td>
              <td class="sit" id="s37"></td>
              <td class="sit" id="s36"></td>
              <td class="sit" id="s35"></td>
            </tr>
            <tr>
              <td class="sit" id="s48"></td>
              <td class="sit" id="s47"></td>
              <td class="sit" id="s46"></td>
              <td class="sit" id="s45"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s34"></td>
              <td class="sit" id="s33"></td>
            </tr>
            <tr>
              <td class="sit" id="s44"></td>
              <td class="sit" id="s43"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row4 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s62"></td>
              <td class="sit" id="s61"></td>
              <td class="sit" id="s60"></td>
              <td class="sit" id="s59"></td>              
            </tr>
            <tr>
              <td class="sit" id="s72"></td>
              <td class="sit" id="s71"></td>
              <td class="sit" id="s70"></td>
              <td class="sit" id="s59"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s58"></td>
              <td class="sit" id="s57"></td>
              <td class="sit" id="s56"></td>
              <td class="sit" id="s55"></td>              
            </tr>
            <tr>
              <td class="sit" id="s58"></td>
              <td class="sit" id="s57"></td>
              <td class="sit" id="s56"></td>
              <td class="sit" id="s55"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s54"></td>
              <td class="sit" id="s53"></td>              
            </tr>
            <tr>
              <td class="sit" id="s54"></td>
              <td class="sit" id="s53"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row5 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s82"></td>
              <td class="sit" id="s81"></td>
              <td class="sit" id="s80"></td>
              <td class="sit" id="s79"></td>              
            </tr>
            <tr>
              <td class="sit" id="s92"></td>
              <td class="sit" id="s91"></td>
              <td class="sit" id="s90"></td>
              <td class="sit" id="s89"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s78"></td>
              <td class="sit" id="s77"></td>
              <td class="sit" id="s76"></td>
              <td class="sit" id="s75"></td>              
            </tr>
            <tr>
              <td class="sit" id="s88"></td>
              <td class="sit" id="s87"></td>
              <td class="sit" id="s86"></td>
              <td class="sit" id="s85"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s74"></td>
              <td class="sit" id="s73"></td>
            </tr>
            <tr>
              <td class="sit" id="s84"></td>
              <td class="sit" id="s83"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row6 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s102"></td>
              <td class="sit" id="s101"></td>
              <td class="sit" id="s100"></td>
              <td class="sit" id="s99"></td>
            </tr>
            <tr>
              <td class="sit" id="s112"></td>
              <td class="sit" id="s111"></td>
              <td class="sit" id="s110"></td>
              <td class="sit" id="s109"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s98"></td>
              <td class="sit" id="s97"></td>
              <td class="sit" id="s96"></td>
              <td class="sit" id="s95"></td>
            </tr>
            <tr>
              <td class="sit" id="s108"></td>
              <td class="sit" id="s107"></td>
              <td class="sit" id="s106"></td>
              <td class="sit" id="s105"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s94"></td>
              <td class="sit" id="s93"></td>              
            </tr>
            <tr>
              <td class="sit" id="s104"></td>
              <td class="sit" id="s103"></td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Row7 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>              
            </tr>
            <tr>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s116"></td>
              <td class="sit" id="s115"></td>
              <td class="sit" id="s114"></td>
              <td class="sit" id="s113"></td>              
            </tr>
            <tr>
              <td class="sit" id="s120"></td>
              <td class="sit" id="s119"></td>
              <td class="sit" id="s118"></td>
              <td class="sit" id="s117"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>              
            </tr>
            <tr>
            </tr>
          </table>
        </td>
        
      </tr>
      <!-- Row8 -->
      <tr class="seat-rows">
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s128"></td>
              <td class="sit" id="s127"></td>
              <td class="sit" id="s126"></td>
              <td class="sit" id="s125"></td>              
            </tr>
            <tr>
              <td class="sit" id="s136"></td>
              <td class="sit" id="s135"></td>
              <td class="sit" id="s134"></td>
              <td class="sit" id="s133"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>
              <td class="sit" id="s124"></td>
              <td class="sit" id="s123"></td>
              <td class="sit" id="s122"></td>
              <td class="sit" id="s121"></td>              
            </tr>
            <tr>
              <td class="sit" id="s132"></td>
              <td class="sit" id="s131"></td>
              <td class="sit" id="s130"></td>
              <td class="sit" id="s129"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="big-table">
            <tr>              
            </tr>
            <tr>
            </tr>
          </table>
        </td>
      </tr>
    </table>





  </body>
</html>