<style>
    td {
      width: 140px;
      height: 90px;
      border: 1px solid;
    }
    .unsit{
      width: 20px;
      border: 0px;
    }
    .road{
      height: 10px;
    }
  </style>
</head>

<body>
  <form action="">
    
    <table>
      <tbody>
        <!-- row1 -->
        <tr class="seat">
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s8">
            <div>
              <p>NAME</p>
              <input type="radio" id="html" name="n8" value="0">
              <label for="0">到</label>
              <input type="radio" id="css" name="n8" value="1">
              <label for="1">請假</label>
              <input type="radio" id="javascript" name="n8" value="2">
              <label for="2">無故缺席</label>
            </div>
          </td>
          <td class="sit" id="s7">
            <div>
              <p>NAME</p>
              <select name="n7">
                <option value="">出席情形</option>
                <option value="0">到</option>
                <option value="1" selected>請假</option>
                <option value="2">無故缺席</option>
            </select>
            </div>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s6"></td>
          <td class="sit" id="s5"></td>
          <td class="sit" id="s4"></td>
          <td class="sit" id="s3"></td>
          <td class="unsit"></td>
          <td class="sit" id="s2"></td>
          <td class="sit" id="s1"></td>
        </tr>

        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s16"></td>
          <td class="sit" id="s15"></td>
          <td class="unsit"></td>
          <td class="sit" id="s14"></td>
          <td class="sit" id="s13"></td>
          <td class="sit" id="s12"></td>
          <td class="sit" id="s11"></td>
          <td class="unsit"></td>
          <td class="sit" id="s10"></td>
          <td class="sit" id="s9"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row2 -->
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s24"></td>
          <td class="sit" id="s23"></td>
          <td class="unsit"></td>
          <td class="sit" id="s22"></td>
          <td class="sit" id="s21"></td>
          <td class="sit" id="s20"></td>
          <td class="sit" id="s19"></td>
          <td class="unsit"></td>
          <td class="sit" id="s18"></td>
          <td class="sit" id="s17"></td>
        </tr>

        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s32"></td>
          <td class="sit" id="s31"></td>
          <td class="unsit"></td>
          <td class="sit" id="s30"></td>
          <td class="sit" id="s29"></td>
          <td class="sit" id="s28"></td>
          <td class="sit" id="s27"></td>
          <td class="unsit"></td>
          <td class="sit" id="s26"></td>
          <td class="sit" id="s25"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row3 -->
        <tr>
          <td class="sit" id="s42"></td>
          <td class="sit" id="s41"></td>
          <td class="sit" id="s40"></td>
          <td class="sit" id="s39"></td>
          <td class="unsit"></td>
          <td class="sit" id="s38"></td>
          <td class="sit" id="s37"></td>
          <td class="sit" id="s36"></td>
          <td class="sit" id="s35"></td>
          <td class="unsit"></td>
          <td class="sit" id="s34"></td>
          <td class="sit" id="s33"></td>
        </tr>
        <tr>
          <td class="sit" id="s52"></td>
          <td class="sit" id="s51"></td>
          <td class="sit" id="s50"></td>
          <td class="sit" id="s49"></td>
          <td class="unsit"></td>
          <td class="sit" id="s48"></td>
          <td class="sit" id="s47"></td>
          <td class="sit" id="s46"></td>
          <td class="sit" id="s45"></td>
          <td class="unsit"></td>
          <td class="sit" id="s44"></td>
          <td class="sit" id="s43"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row4 -->
        <tr>
          <td class="sit" id="s62"></td>
          <td class="sit" id="s61"></td>
          <td class="sit" id="s60"></td>
          <td class="sit" id="s59"></td>
          <td class="unsit"></td>
          <td class="sit" id="s58"></td>
          <td class="sit" id="s57"></td>
          <td class="sit" id="s56"></td>
          <td class="sit" id="s55"></td>
          <td class="unsit"></td>
          <td class="sit" id="s54"></td>
          <td class="sit" id="s53"></td>
        </tr>
        <tr>
          <td class="sit" id="s72"></td>
          <td class="sit" id="s71"></td>
          <td class="sit" id="s70"></td>
          <td class="sit" id="s59"></td>
          <td class="unsit"></td>
          <td class="sit" id="s58"></td>
          <td class="sit" id="s57"></td>
          <td class="sit" id="s56"></td>
          <td class="sit" id="s55"></td>
          <td class="unsit"></td>
          <td class="sit" id="s54"></td>
          <td class="sit" id="s53"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row5 -->
        <tr>
          <td class="sit" id="s82"></td>
          <td class="sit" id="s81"></td>
          <td class="sit" id="s80"></td>
          <td class="sit" id="s79"></td>
          <td class="unsit"></td>
          <td class="sit" id="s78"></td>
          <td class="sit" id="s77"></td>
          <td class="sit" id="s76"></td>
          <td class="sit" id="s75"></td>
          <td class="unsit"></td>
          <td class="sit" id="s74"></td>
          <td class="sit" id="s73"></td>
        </tr>
        <tr>
          <td class="sit" id="s92"></td>
          <td class="sit" id="s91"></td>
          <td class="sit" id="s90"></td>
          <td class="sit" id="s89"></td>
          <td class="unsit"></td>
          <td class="sit" id="s88"></td>
          <td class="sit" id="s87"></td>
          <td class="sit" id="s86"></td>
          <td class="sit" id="s85"></td>
          <td class="unsit"></td>
          <td class="sit" id="s84"></td>
          <td class="sit" id="s83"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row6 -->
        <tr>
          <td class="sit" id="s102"></td>
          <td class="sit" id="s101"></td>
          <td class="sit" id="s100"></td>
          <td class="sit" id="s99"></td>
          <td class="unsit"></td>
          <td class="sit" id="s98"></td>
          <td class="sit" id="s97"></td>
          <td class="sit" id="s96"></td>
          <td class="sit" id="s95"></td>
          <td class="unsit"></td>
          <td class="sit" id="s94"></td>
          <td class="sit" id="s93"></td>
        </tr>

        <tr>
          <td class="sit" id="s112"></td>
          <td class="sit" id="s111"></td>
          <td class="sit" id="s110"></td>
          <td class="sit" id="s109"></td>
          <td class="unsit"></td>
          <td class="sit" id="s108"></td>
          <td class="sit" id="s107"></td>
          <td class="sit" id="s106"></td>
          <td class="sit" id="s105"></td>
          <td class="unsit"></td>
          <td class="sit" id="s104"></td>
          <td class="sit" id="s103"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row7 -->
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s116"></td>
          <td class="sit" id="s115"></td>
          <td class="sit" id="s114"></td>
          <td class="sit" id="s113"></td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
        
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s120"></td>
          <td class="sit" id="s119"></td>
          <td class="sit" id="s118"></td>
          <td class="sit" id="s117"></td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row8 -->
        <tr>
          <td class="sit" id="s128"></td>
          <td class="sit" id="s127"></td>
          <td class="sit" id="s126"></td>
          <td class="sit" id="s125"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s124"></td>
          <td class="sit" id="s123"></td>
          <td class="sit" id="s122"></td>
          <td class="sit" id="s121"></td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>

        <tr>
          <td class="sit" id="s136"></td>
          <td class="sit" id="s135"></td>
          <td class="sit" id="s134"></td>
          <td class="sit" id="s133"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s132"></td>
          <td class="sit" id="s131"></td>
          <td class="sit" id="s130"></td>
          <td class="sit" id="s129"></td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
      </tbody>
    </table>
    <input type="submit">
  </form>
  
</body>

</html>