<!doctype html>
<html lang="zh">
<head>
  <link rel="stylesheet" href="./CSS/set.css" type="text/css">
</head>
<body>
  
  <form action="">
    
    <table>
      <tbody>
        <!-- row1 -->
        <tr class="seat">
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s8">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s7">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s6">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s5">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s4">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s3">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s2">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s1">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s16">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s15">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s14">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s13">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s12">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s11">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s10">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s9">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>

        <!-- space -->
        <tr class="road"> </tr>
        <!-- row2 -->
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s24">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s23">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s22">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s21">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s20">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s19">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s18">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s17">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>

        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="sit" id="s32">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s31">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s30">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s29">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s28">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s27">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s26">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s25">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row3 -->
        <tr>
          <td class="sit" id="s42">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s41">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s40">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s39">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s38">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s37">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s36">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s35">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s34">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s33">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <tr>
          <td class="sit" id="s52">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s51">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s50">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s49">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s48">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s47">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s46">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s45">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s44">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s43">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row4 -->
        <tr>
          <td class="sit" id="s62">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s61">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s60">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s59">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s58">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s57">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s56">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s55">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s54">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s53">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <tr>
          <td class="sit" id="s72">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s71">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s70">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s59">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s58">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s57">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s56">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s55">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s54">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s53">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row5 -->
        <tr>
          <td class="sit" id="s82">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s81">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s80">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s79">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s78">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s77">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s76">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s75">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s74"></td>
          <td class="sit" id="s73"></td>
        </tr>
        <tr>
          <td class="sit" id="s92">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s91">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s90">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s89">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s88">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s87">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s86">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s85">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s84">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s83">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row6 -->
        <tr>
          <td class="sit" id="s102">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s101">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s100">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s99">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s98">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s97">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s96">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s95">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s94">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s93">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>

        <tr>
          <td class="sit" id="s112">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s111">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s110">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s109">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s108">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s107">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s106">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s105">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="unsit"></td>
          <td class="sit" id="s104">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s103">
            <label><input type="checkbox" >NAME</label>
          </td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row7 -->
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s116">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s115">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s114">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s113">
            <label><input type="checkbox" >NAME</label>
          </td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
        
        <tr>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s120">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s119">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s118">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s117">
            <label><input type="checkbox" >NAME</label>
          </td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
        <!-- space -->
        <tr class="road"> </tr>
        <!-- row8 -->
        <tr>
          <td class="sit" id="s128">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s127">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s126">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s125">
            <label><input type="checkbox" >NAME</label>
          </td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s124">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s123">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s122">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s121">
            <label><input type="checkbox" >NAME</label>
          </td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>

        <tr>
          <td class="sit" id="s136">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s135">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s134">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s133">
            <label><input type="checkbox" >NAME</label>
          </td>
          <!-- R -->
          <td class="unsit"></td>
          <td class="sit" id="s132">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s131">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s130">
            <label><input type="checkbox" >NAME</label>
          </td>
          <td class="sit" id="s129">
            <label><input type="checkbox" >NAME</label>
          </td>
           <!-- R -->
          <td class="unsit"></td>
          <td class="unsit"></td>
          <td class="unsit"></td>
        </tr>
      </tbody>
    </table>
    <input type="submit">
  </form>
</body>
<script src="./JS/set.js"></script>
</html>