<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/test.css">
</head>
<body>
    
    <div class="con">
        <form action="View.html">
            <div>
                <input type="checkbox" name="s1" id="s1"><label for="s1">1</label>
            </div>
            <div>
                <label name="AAA"><input type="checkbox" name="s2">2</label>
            </div>
            <div>
                <label><input type="checkbox" name="s3">3</label>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div> 
    
</body>
<script src="./JS/test.js"></script>
</html>